:root {
  --backgound: #000;
  --darkpurple: #6a097d;
  --purple: #c060a1;
  --beige: #f1d4d4;
  --pink: #cb80ab;
  --unit:10px;
}

body {
  /* background: var(--backgound); */
  margin: 0;
  /* padding-top: 100px;
  padding-left: 100px; */
}
