.contact-section {
    width: 100vw;
    height: 900px;
    background: purple;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact {
    position: relative; 
  }
  
  .contact-pic {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  .contact-pic:hover {
    transform: scale(1.1); 
  }
  

  .hover-content, .first-bubble, .second-bubble, .third-bubble {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s; 
  }
  

  .first-bubble {
    position: absolute;
    bottom: 100px;
    left: 200px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
  }
  
  .second-bubble {
    position: absolute;
    bottom: 120px;
    left: 220px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
  }
  
  .third-bubble {
    position: absolute;
    bottom: 150px;
    left: 245px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
  }
  
  
  .contact-pic:hover ~ .first-bubble {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s; 
  }
  
  .contact-pic:hover ~ .second-bubble {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s; 
  }
  
  .contact-pic:hover ~ .third-bubble {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.9s; 
  }
  
  .contact-pic:hover ~ .hover-content {
    opacity: 1;
    visibility: visible;
    transition-delay: 1.2s; 
  }
  
  
  .hover-content {
    position: absolute;
    bottom: 200px;
    left: 200px;
    padding: 15px 12px;
    background-color: white;
    color: black;
    border-radius: 100px;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    opacity: 0; 
    display: block;
    animation: showContent 0.3s forwards;
    animation-delay: 2.1s; 
  }
  