.intro {
  width: 100vw;
  height: 900px;
  background: #16181d;
  background-image: url("../public/Intro.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 94px;
}

.info {
  /* background: red; */
  width: 1040px;
  /* height: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

.header {
  width: 700px;
  /* height: 250px; */
  /* background: hotpink; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 56px;
}

.avatar {
  width: 112px;
  height: 112px;
  background: blue;
}

.texts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.name {
  font-family: Inconsolata;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: var(--Base-gray-500, #c0c4ce);
  text-align: center;
}

.name span {
  color: var(--Base-gray-500, #e3646e);
}

.job {
  color: var(--Base-gray-600, #e2e4e9);
  text-align: center;
  /* Title Lg */
  font-family: Asap;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
  /* border: solid 1px red; */
  /* height: 100px; */
}

.description {
  color: var(--Base-gray-400, #878ea1);
  text-align: center;

  /* Text Sm */
  font-family: "Maven Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.tags {
  width: 100%;
  height: 40px;
  align-items: flex-start;
  /* gap: 0px; */
  background: yellow;
  display: flex;
  position: relative;
  overflow: hidden;
  border: solid 1px red;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.item {
  border-radius: var(--border-radius-border-full, 999px);
  background: var(--Base-gray-300, #292c34);
  position: absolute;
  left: max(calc(20px * 8), 100%);
  animation-name: scrollleft;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 16px;
}

.item span {
  color: var(--Base-gray-500, #c0c4ce);
  text-align: center;

  /* Text Md */
  font-family: "Maven Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.text {
  color: var(--Base-gray-500, #c0c4ce);
  text-align: center;

  /* Text Md */
  font-family: "Maven Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.icon {
  width: 32px;
  height: 32px;
  background: green;
}

@keyframes scrollleft {
  to {
    left: -200px;
  }
}

.item1 {
  animation-delay: calc(10s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(10s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(10s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(10s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(10s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(10s / 8 * (8 - 6) * -1);
}
.item7 {
  animation-delay: calc(10s / 8 * (8 - 7) * -1);
}
.item8 {
  animation-delay: calc(10s / 8 * (8 - 8) * -1);
}
