.intro {
  width: 100vw;
  /* height: 900px; */
  background: pink;
  background-image: url("../public/Intro\ \(1\).svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top {
  width: 70%;
  height: 1200px;
  background: rgb(213, 88, 109);
}
